*{
    font-family: 'Dosis', sans-serif;
}
body{
    background: linear-gradient(to bottom, rgb(123, 67, 151), rgb(220, 36, 48));
}
div.title{
    padding: 50px;
    background: url(../images/b.png), linear-gradient(to left, rgb(123, 67, 151), rgb(220, 36, 48));
}
/*index.html*/
.navbar-header .navbar-brand,.navbar-default .navbar-nav > li > a {
    letter-spacing: 1.2px;
    color: white;
}
.dropdown-menu > li > a,.navbar-header .navbar-brand,.navbar-default .navbar-nav > li > a{
    font-size: 1.3em;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #2ecc71;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #27ae60;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
div.navbar{
    border:0px;
    margin: 0px;
    border-radius: 0;
    background-color: #2ecc71;
}
.navbar-brand a{
    color: white;
}
.navbar-brand a:hover{
    text-decoration: none;
    color:black;
}
div#mydiv,div.wrap{
    background-color: white;
}
div.box{
    background-image: url("../images/im.jpg");
    background-size: cover;
    height: 500px;
    width: auto;
}
.box p{
    padding-top:200px;
    color: white;
    font-size:3.8em;
}
a.style1 i{
    padding: 5px 15px 5px 15px;
    border:1px solid white;
    border-radius: 80%;

}
div.box i:hover{
    color: #F39C12;
    border-color:#F39C12 ;
    background-color: white;
    -webkit-transition: background-color 0.45s, color 0.35s ease-in-out;
}

div.box1{
   background-image: url("../images/bg3.png");
   background-color: #4d67b3;
    padding: 10px;
}
section.contact div.container{
    margin:0px;
    width: 100%;
    padding: 55px 0;
    background-color:#fcbd20; 
}section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 53px;
  font-size: 20px;
  border-radius: 100%;
  color: white;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}
div.bgblue{
    background-image: url("../images/blue.jpg");
}
.bgblue .top h1,
div.wrap h3{
    padding:10px;
}
.bgblue p a,.bgblue .top h1,
div.wrap h3,
div.wrap p{
    color: white;
}
.bgblue p{
    margin:30px 0;
}
.bgblue p a,
div.wrap p{
    font-size: 1.3em;

}
.bgblue p a:hover{
    color: #fcbd20;
    border-color: #fcbd20;
}
div.top h1,div.wrap h3{
    border-bottom:2px solid #F39C12;
    
}
/*after*/
.well h1{
    font-size:1.4em;
    font-weight: 700;
    margin-top: 5px;
}
.well h1,.well i{
    color: white;
}
 .well{
    background-color: #F39C12;
 }
 div.well:hover,.bgwhite{
    background-color: white;
 }
 div.well:hover h1, div.well:hover i,div.head h1:hover{
     color:  #F39C12;
     transform: scale(1.1);
     transition-duration: .9s;
 }
 div.box1 .col4 h1{
    background-color: #851050;
    padding: 20px;
 }
.navbar-default .navbar-toggle {
    color: #F39C12;
}
.head h1 {
    font-size: 3em;
    padding-top: 35px;
}
div.head{
    background: url("../images/bg.png");
    height: 150px;
    border: 3px solid #F39C12;
}
div.link{
    padding-top: 5px;
}
div.link li{
   list-style: none; 
   font-size: 1.2em;
   font-weight: 800;
}
div.link li a{
    text-decoration: none;
}
footer{
    background-color:#242f42;
    padding: 10px;
    color: white;
}
footer p{
    font-size: 1.2em;
}

/*B.tech*/
div.wrap,.bgwhite{
  padding: 10px 0 25px 0;
}
div.wrap h4{
  
  color: white;
}
#Div2,#_Div4 {
  display: none;
}
div.switch{
  margin-top: 10px;
}
div.switch a.style{
    color: White;
    font-size: 1.4em;
    padding: .6em 2.6em .6em 2.6em;
    border: 1px solid white;
    border-radius: 3em;
    font-weight: 400;
    background-color:  #F39C12;
}
div.switch a.style:hover{
  color: #F39C12;
  transition-duration: 0.7s;
  background-color: white;
  border-color: #F39C12;
}
/*media */

@media(max-width: 998px) {
 .inline li{
    display: inline-block;
    padding-right: 15px;
 } 
 div.title{
    padding:40px;
 }
}

@media(max-width: 767px) {
 .box p{
    font-size: 2.4em;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
 }
  div.title{
    padding:25px;
 }
 .head h1{
  font-size: 2.5em;
  padding-top: 20px;
 }
}
@media(max-width:550px){
  body .container{
    padding-left: 0;
    padding-right: 0;
  }
}
